# ----------------------------------------------------------------
# IDE & System Files
# ----------------------------------------------------------------
# JetBrains IDEs like PyCharm/IntelliJ
/.idea/

# VSCode
/.vscode/

# macOS
.DS_Store

# ----------------------------------------------------------------
# Python & Environment
# ----------------------------------------------------------------
# Virtual environment
udaplay-agent/

# Python cache
__pycache__/
*.pyc

# ----------------------------------------------------------------
# Project-Specific Files
# ----------------------------------------------------------------
# Secrets - DO NOT COMMIT
.env

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Vector database
chromadb/

.venv
